In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("./data/train.csv",parse_dates=[2,3])

In [7]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null datetime64[ns]
dropoff_datetime      1458644 non-null datetime64[ns]
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(2)
memory usage: 122.4+ MB

In [9]:
df = df.assign(
         drp_rnd_long = round(df.dropoff_longitude,2),
         drp_rnd_lat = round(df.dropoff_latitude,2) 
         )

In [31]:
df = pd.concat(
    [df,
     df.apply(lambda r: str(r['drp_rnd_long']) + '_' + str(r['drp_rnd_lat']), axis=1 ).rename('drp_loc')], 
    axis=1)

In [32]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,drp_rnd_long,drp_rnd_lat,drp_loc
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,-73.96,40.77,-73.96_40.77
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,-74.00,40.73,-74.0_40.73
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,-74.01,40.71,-74.01_40.71
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,-74.01,40.71,-74.01_40.71
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,-73.97,40.78,-73.97_40.78

In [34]:
df.drp_loc.value_counts()

-73.98_40.76    78128
-73.97_40.76    77172
-73.99_40.75    74716
-73.98_40.75    69981
-73.99_40.74    55147
-73.99_40.76    52749
-73.96_40.77    51085
-73.99_40.73    40952
-73.98_40.74    40493
-73.98_40.77    39026
-73.95_40.78    37761
-73.96_40.78    37288
-74.0_40.73     36324
-74.0_40.74     35606
-73.98_40.78    34131
-73.97_40.75    32243
-73.95_40.77    27593
-74.01_40.71    26724
-74.0_40.72     25969
-73.96_40.76    25079
-73.99_40.72    24771
-73.97_40.79    24734
-74.0_40.75     23691
-73.98_40.73    22315
-74.0_40.76     21418
-73.99_40.77    19618
-74.01_40.72    19346
-74.01_40.74    18953
-73.97_40.77    17832
-73.95_40.79    14675
                ...
-74.27_40.75        1
-74.08_40.23        1
-73.47_40.8         1
-73.99_40.91        1
-73.48_40.76        1
-74.22_40.67        1
-73.78_41.15        1
-73.64_40.59        1
-73.99_40.79        1
-73.94_40.91        1
-73.86_41.01        1
-74.1_40.81         1
-73.6_40.76         1
-73.82_40.9         1
-74.4_40.71         1
-74.3_40.73         1
-74.33_40.58        1
-73.83_40.57        1
-73.95_40.87        1
-74.03_40.7         1
-73.98_41.04        1
-74.09_40.62        1
-73.58_40.83        1
-73.95_40.93        1
-74.25_40.79        1
-74.1_41.01         1
-74.4_40.62         1
-73.73_40.98        1
-74.4_40.82         1
-73.83_41.0         1
Name: drp_loc, Length: 2015, dtype: int64

In [38]:
df[df['drp_loc'] == '-73.98_40.76']

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,drp_rnd_long,drp_rnd_lat,drp_loc
12,id1187965,2,2016-02-19 09:52:46,2016-02-19 10:11:20,2,-73.962982,40.756680,-73.984406,40.760719,N,1114,-73.98,40.76,-73.98_40.76
35,id3361153,1,2016-03-11 07:11:23,2016-03-11 07:20:09,1,-73.994560,40.750526,-73.978500,40.756191,N,526,-73.98,40.76,-73.98_40.76
57,id1079955,1,2016-04-22 11:28:00,2016-04-22 12:11:27,1,-73.994850,40.718781,-73.983414,40.758850,N,2607,-73.98,40.76,-73.98_40.76
76,id0739660,1,2016-05-16 13:07:10,2016-05-16 13:34:18,3,-73.964722,40.806606,-73.984573,40.760677,N,1628,-73.98,40.76,-73.98_40.76
81,id1082443,2,2016-02-25 14:56:26,2016-02-25 15:09:31,1,-73.987122,40.768475,-73.975822,40.759712,N,785,-73.98,40.76,-73.98_40.76
84,id2592310,2,2016-06-13 07:20:46,2016-06-13 07:24:28,1,-73.990417,40.756882,-73.981979,40.759991,N,222,-73.98,40.76,-73.98_40.76
116,id0935429,1,2016-05-02 06:58:06,2016-05-02 07:08:17,1,-73.999092,40.745491,-73.978561,40.762325,N,611,-73.98,40.76,-73.98_40.76
129,id2681033,1,2016-06-17 10:01:39,2016-06-17 10:16:13,1,-73.976830,40.788212,-73.983749,40.762531,N,874,-73.98,40.76,-73.98_40.76
138,id1125774,1,2016-01-19 22:20:43,2016-01-19 22:28:45,2,-73.994537,40.740234,-73.976189,40.762592,N,482,-73.98,40.76,-73.98_40.76
160,id3331830,1,2016-04-12 09:21:27,2016-04-12 09:35:56,1,-73.964867,40.755791,-73.975807,40.757355,N,869,-73.98,40.76,-73.98_40.76
172,id1783063,2,2016-04-06 12:24:22,2016-04-06 12:40:02,2,-73.984650,40.745979,-73.977379,40.759651,N,940,-73.98,40.76,-73.98_40.76
240,id3609971,1,2016-06-14 09:20:45,2016-06-14 09:43:13,1,-73.990906,40.756271,-73.976814,40.759689,N,1348,-73.98,40.76,-73.98_40.76
267,id0828675,1,2016-06-23 07:16:24,2016-06-23 07:21:42,1,-73.994041,40.751137,-73.982635,40.760689,N,318,-73.98,40.76,-73.98_40.76
268,id1636593,2,2016-04-25 17:37:13,2016-04-25 18:23:12,1,-73.790154,40.646614,-73.981918,40.756680,N,2759,-73.98,40.76,-73.98_40.76
301,id0989891,1,2016-05-03 04:40:29,2016-05-03 04:51:45,2,-73.989380,40.719826,-73.982605,40.757504,N,676,-73.98,40.76,-73.98_40.76
341,id3448735,1,2016-01-27 06:45:39,2016-01-27 06:51:12,1,-73.991501,40.744892,-73.983276,40.760483,N,333,-73.98,40.76,-73.98_40.76
363,id2567660,2,2016-03-19 18:18:23,2016-03-19 18:33:29,1,-73.995544,40.744011,-73.983246,40.763672,N,906,-73.98,40.76,-73.98_40.76
373,id2848070,2,2016-06-09 06:54:04,2016-06-09 07:02:27,3,-74.001038,40.741520,-73.980324,40.760448,N,503,-73.98,40.76,-73.98_40.76
374,id3817493,2,2016-03-14 14:57:56,2016-03-14 15:15:26,1,-73.952881,40.766468,-73.978630,40.761921,N,1050,-73.98,40.76,-73.98_40.76
391,id3385889,1,2016-02-12 09:44:22,2016-02-12 10:00:02,1,-73.972687,40.755863,-73.977333,40.758675,N,940,-73.98,40.76,-73.98_40.76
405,id2452510,2,2016-02-21 19:20:51,2016-02-21 19:36:37,6,-73.987968,40.728226,-73.978493,40.764767,N,946,-73.98,40.76,-73.98_40.76
427,id3924756,1,2016-02-22 21:34:01,2016-02-22 21:50:01,2,-74.004372,40.742184,-73.975479,40.760426,N,960,-73.98,40.76,-73.98_40.76
436,id3226823,2,2016-03-28 08:02:53,2016-03-28 08:14:28,3,-73.982849,40.744629,-73.984947,40.759331,N,695,-73.98,40.76,-73.98_40.76
463,id0238963,2,2016-01-11 12:42:36,2016-01-11 13:09:38,1,-73.980019,40.786018,-73.976334,40.759068,N,1622,-73.98,40.76,-73.98_40.76
474,id0290690,2,2016-05-27 18:58:47,2016-05-27 19:02:25,1,-73.981750,40.768570,-73.984818,40.764420,N,218,-73.98,40.76,-73.98_40.76
477,id2111520,2,2016-02-03 20:15:47,2016-02-03 20:21:21,2,-73.988731,40.748840,-73.982964,40.760120,N,334,-73.98,40.76,-73.98_40.76
495,id0194198,2,2016-05-15 14:44:09,2016-05-15 15:29:08,4,-73.862663,40.768768,-73.975220,40.763512,N,2699,-73.98,40.76,-73.98_40.76
498,id1428415,1,2016-02-14 20:13:17,2016-02-14 20:28:14,1,-73.980286,40.734428,-73.976341,40.763988,N,897,-73.98,40.76,-73.98_40.76
518,id3646418,1,2016-05-18 07:43:58,2016-05-18 08:05:10,1,-73.960220,40.798000,-73.981018,40.761986,N,1272,-73.98,40.76,-73.98_40.76
519,id0610780,1,2016-06-10 08:14:42,2016-06-10 08:23:05,1,-73.975563,40.781818,-73.975586,40.760750,N,503,-73.98,40.76,-73.98_40.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458078,id3197184,2,2016-05-07 21:19:01,2016-05-07 21:43:38,1,-73.990005,40.719578,-73.977875,40.763569,N,1477,-73.98,40.76,-73.98_40.76
1458085,id1326136,2,2016-05-21 12:07:11,2016-05-21 12:07:28,1,-73.978935,40.762463,-73.977654,40.762012,N,17,-73.98,40.76,-73.98_40.76
1458104,id3681391,2,2016-01-05 10:20:27,2016-01-05 10:32:30,5,-73.971664,40.782154,-73.983032,40.759209,N,723,-73.98,40.76,-73.98_40.76
1458108,id0089015,1,2016-02-22 07:26:17,2016-02-22 07:36:44,1,-74.007690,40.732239,-73.982475,40.758438,N,627,-73.98,40.76,-73.98_40.76
1458136,id0618475,2,2016-05-14 19:35:35,2016-05-14 19:49:38,2,-73.973862,40.763023,-73.982483,40.762909,N,843,-73.98,40.76,-73.98_40.76
1458157,id0117615,1,2016-04-09 10:19:16,2016-04-09 10:33:14,1,-73.988968,40.777557,-73.984047,40.761631,N,838,-73.98,40.76,-73.98_40.76
1458185,id2749881,1,2016-06-10 12:42:23,2016-06-10 13:02:37,2,-73.966461,40.770336,-73.976753,40.758259,N,1214,-73.98,40.76,-73.98_40.76
1458188,id2257586,1,2016-05-26 05:16:52,2016-05-26 05:24:15,1,-73.994011,40.751118,-73.979431,40.764767,N,443,-73.98,40.76,-73.98_40.76
1458202,id2829487,1,2016-06-03 09:41:28,2016-06-03 10:04:32,1,-73.992287,40.749500,-73.980904,40.756905,N,1384,-73.98,40.76,-73.98_40.76
1458216,id1710068,2,2016-04-18 19:45:47,2016-04-18 19:49:35,1,-73.983269,40.756653,-73.976974,40.764286,N,228,-73.98,40.76,-73.98_40.76
1458225,id2348209,1,2016-02-26 13:28:01,2016-02-26 13:35:29,1,-73.974228,40.758236,-73.980003,40.756702,N,448,-73.98,40.76,-73.98_40.76
1458240,id1813079,1,2016-05-18 12:14:38,2016-05-18 12:44:46,1,-73.963089,40.799351,-73.983131,40.762775,N,1808,-73.98,40.76,-73.98_40.76
1458242,id3185609,1,2016-05-02 08:13:40,2016-05-02 08:36:30,1,-73.968773,40.799088,-73.976074,40.764774,N,1370,-73.98,40.76,-73.98_40.76
1458319,id1943039,1,2016-06-29 14:55:48,2016-06-29 14:59:49,1,-73.983734,40.761330,-73.978088,40.758770,N,241,-73.98,40.76,-73.98_40.76
1458376,id0864059,2,2016-01-10 15:12:56,2016-01-10 15:23:11,1,-73.963356,40.774597,-73.975937,40.760334,N,615,-73.98,40.76,-73.98_40.76
1458398,id0266553,2,2016-02-10 19:23:36,2016-02-10 19:45:10,3,-74.016144,40.704990,-73.983521,40.764462,N,1294,-73.98,40.76,-73.98_40.76
1458408,id1554996,2,2016-03-15 22:38:23,2016-03-15 22:43:21,5,-73.988083,40.743481,-73.984642,40.757542,N,298,-73.98,40.76,-73.98_40.76
1458455,id2924763,2,2016-03-04 23:24:33,2016-03-04 23:31:02,1,-73.997643,40.756622,-73.984688,40.761581,N,389,-73.98,40.76,-73.98_40.76
1458468,id0818159,2,2016-02-10 11:57:17,2016-02-10 12:14:32,5,-73.982674,40.772152,-73.982635,40.763317,N,1035,-73.98,40.76,-73.98_40.76
1458477,id1389025,2,2016-02-09 00:25:27,2016-02-09 00:27:50,1,-73.973640,40.761536,-73.980721,40.764462,N,143,-73.98,40.76,-73.98_40.76
1458493,id3090161,2,2016-02-02 12:35:22,2016-02-02 12:49:03,1,-73.994118,40.751152,-73.981819,40.757912,N,821,-73.98,40.76,-73.98_40.76
1458519,id0981612,2,2016-06-17 18:07:11,2016-06-17 18:37:23,1,-73.970062,40.760849,-73.982819,40.758369,N,1812,-73.98,40.76,-73.98_40.76
1458522,id0593796,1,2016-04-02 22:13:56,2016-04-02 22:19:59,1,-73.991013,40.755718,-73.981895,40.764771,N,363,-73.98,40.76,-73.98_40.76
1458559,id1976498,2,2016-04-09 20:35:37,2016-04-09 20:52:05,2,-73.989891,40.729790,-73.984070,40.757496,N,988,-73.98,40.76,-73.98_40.76
1458565,id2507223,2,2016-02-27 18:20:36,2016-02-27 18:26:41,1,-73.972099,40.756302,-73.983437,40.760685,N,365,-73.98,40.76,-73.98_40.76
1458572,id3547814,1,2016-03-29 06:56:27,2016-03-29 07:06:47,1,-73.953682,40.766918,-73.975861,40.756191,N,620,-73.98,40.76,-73.98_40.76
1458583,id1916684,2,2016-05-25 07:54:55,2016-05-25 08:12:44,2,-73.967331,40.793274,-73.975266,40.755508,N,1069,-73.98,40.76,-73.98_40.76
1458591,id3063061,1,2016-05-15 16:36:14,2016-05-15 16:40:07,2,-73.986107,40.751701,-73.978714,40.761875,N,233,-73.98,40.76,-73.98_40.76
1458595,id2313812,2,2016-06-21 12:48:12,2016-06-21 12:55:34,1,-73.974312,40.762798,-73.978531,40.756931,N,442,-73.98,40.76,-73.98_40.76
1458609,id2224211,1,2016-03-06 10:42:32,2016-03-06 10:46:57,1,-73.987488,40.768585,-73.979660,40.759151,N,265,-73.98,40.76,-73.98_40.76

In [39]:
df['drp_yyyymmdd'] = df.apply(lambda r: r['dropoff_datetime'].strftime("%Y%m%d"), axis=1)

In [40]:
df[df['drp_loc'] == '-73.98_40.76'].groupby('drp_yyyymmdd').count()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,drp_rnd_long,drp_rnd_lat,drp_loc
drp_yyyymmdd,,,,,,,,,,,,,,
20160101,304,304,304,304,304,304,304,304,304,304,304,304,304,304
20160102,368,368,368,368,368,368,368,368,368,368,368,368,368,368
20160103,276,276,276,276,276,276,276,276,276,276,276,276,276,276
20160104,369,369,369,369,369,369,369,369,369,369,369,369,369,369
20160105,402,402,402,402,402,402,402,402,402,402,402,402,402,402
20160106,466,466,466,466,466,466,466,466,466,466,466,466,466,466
20160107,425,425,425,425,425,425,425,425,425,425,425,425,425,425
20160108,462,462,462,462,462,462,462,462,462,462,462,462,462,462
20160109,358,358,358,358,358,358,358,358,358,358,358,358,358,358
20160110,272,272,272,272,272,272,272,272,272,272,272,272,272,272
20160111,374,374,374,374,374,374,374,374,374,374,374,374,374,374
20160112,445,445,445,445,445,445,445,445,445,445,445,445,445,445
20160113,529,529,529,529,529,529,529,529,529,529,529,529,529,529
20160114,516,516,516,516,516,516,516,516,516,516,516,516,516,516
20160115,474,474,474,474,474,474,474,474,474,474,474,474,474,474
20160116,412,412,412,412,412,412,412,412,412,412,412,412,412,412
20160117,368,368,368,368,368,368,368,368,368,368,368,368,368,368
20160118,378,378,378,378,378,378,378,378,378,378,378,378,378,378
20160119,544,544,544,544,544,544,544,544,544,544,544,544,544,544
20160120,472,472,472,472,472,472,472,472,472,472,472,472,472,472
20160121,497,497,497,497,497,497,497,497,497,497,497,497,497,497
20160122,499,499,499,499,499,499,499,499,499,499,499,499,499,499
20160123,46,46,46,46,46,46,46,46,46,46,46,46,46,46
20160124,139,139,139,139,139,139,139,139,139,139,139,139,139,139
20160125,276,276,276,276,276,276,276,276,276,276,276,276,276,276
20160126,346,346,346,346,346,346,346,346,346,346,346,346,346,346
20160127,430,430,430,430,430,430,430,430,430,430,430,430,430,430
20160128,470,470,470,470,470,470,470,470,470,470,470,470,470,470
20160129,514,514,514,514,514,514,514,514,514,514,514,514,514,514
20160130,365,365,365,365,365,365,365,365,365,365,365,365,365,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20160602,442,442,442,442,442,442,442,442,442,442,442,442,442,442
20160603,436,436,436,436,436,436,436,436,436,436,436,436,436,436
20160604,394,394,394,394,394,394,394,394,394,394,394,394,394,394
20160605,276,276,276,276,276,276,276,276,276,276,276,276,276,276
20160606,442,442,442,442,442,442,442,442,442,442,442,442,442,442
20160607,474,474,474,474,474,474,474,474,474,474,474,474,474,474
20160608,442,442,442,442,442,442,442,442,442,442,442,442,442,442
20160609,498,498,498,498,498,498,498,498,498,498,498,498,498,498
20160610,431,431,431,431,431,431,431,431,431,431,431,431,431,431
20160611,335,335,335,335,335,335,335,335,335,335,335,335,335,335
20160612,297,297,297,297,297,297,297,297,297,297,297,297,297,297
20160613,438,438,438,438,438,438,438,438,438,438,438,438,438,438
20160614,449,449,449,449,449,449,449,449,449,449,449,449,449,449
20160615,459,459,459,459,459,459,459,459,459,459,459,459,459,459
20160616,479,479,479,479,479,479,479,479,479,479,479,479,479,479
20160617,429,429,429,429,429,429,429,429,429,429,429,429,429,429
20160618,314,314,314,314,314,314,314,314,314,314,314,314,314,314
20160619,282,282,282,282,282,282,282,282,282,282,282,282,282,282
20160620,456,456,456,456,456,456,456,456,456,456,456,456,456,456
20160621,454,454,454,454,454,454,454,454,454,454,454,454,454,454
20160622,472,472,472,472,472,472,472,472,472,472,472,472,472,472
20160623,484,484,484,484,484,484,484,484,484,484,484,484,484,484
20160624,520,520,520,520,520,520,520,520,520,520,520,520,520,520
20160625,384,384,384,384,384,384,384,384,384,384,384,384,384,384
20160626,272,272,272,272,272,272,272,272,272,272,272,272,272,272
20160627,456,456,456,456,456,456,456,456,456,456,456,456,456,456
20160628,482,482,482,482,482,482,482,482,482,482,482,482,482,482
20160629,483,483,483,483,483,483,483,483,483,483,483,483,483,483
20160630,434,434,434,434,434,434,434,434,434,434,434,434,434,434
20160701,4,4,4,4,4,4,4,4,4,4,4,4,4,4

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 15 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null datetime64[ns]
dropoff_datetime      1458644 non-null datetime64[ns]
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
drp_rnd_long          1458644 non-null float64
drp_rnd_lat           1458644 non-null float64
drp_loc               1458644 non-null object
drp_yyyymmdd          1458644 non-null object
dtypes: datetime64[ns](2), float64(6), int64(3), object(4)
memory usage: 166.9+ MB

In [79]:
from datetime import datetime
def dtm_round_to_mins(dtm, p_i_min):       
    mi = str((dtm.minute // p_i_min) * p_i_min).zfill(2)
    return (datetime.strptime(dtm.strftime('%Y%m%d%H')+mi,'%Y%m%d%H%M'))

In [78]:
df.loc[0]['dropoff_datetime']

Timestamp('2016-03-14 17:32:30')

In [80]:
dtm_round_to_mins(df.loc[0]['dropoff_datetime'],15)

datetime.datetime(2016, 3, 14, 17, 30)

In [81]:
df['drp_dtm'] = df.apply(lambda r: dtm_round_to_mins(r['dropoff_datetime'],15), axis=1)

In [91]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,drp_rnd_long,drp_rnd_lat,drp_loc,drp_yyyymmdd,drp_hrmi,drp_dtm
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,-73.96,40.77,-73.96_40.77,20160314,17.50,2016-03-14 17:30:00
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,-74.00,40.73,-74.0_40.73,20160612,0.75,2016-06-12 00:45:00
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,-74.01,40.71,-74.01_40.71,20160119,12.00,2016-01-19 12:00:00
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,-74.01,40.71,-74.01_40.71,20160406,19.50,2016-04-06 19:30:00
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,-73.97,40.78,-73.97_40.78,20160326,13.50,2016-03-26 13:30:00

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 17 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null datetime64[ns]
dropoff_datetime      1458644 non-null datetime64[ns]
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
drp_rnd_long          1458644 non-null float64
drp_rnd_lat           1458644 non-null float64
drp_loc               1458644 non-null object
drp_yyyymmdd          1458644 non-null object
drp_hrmi              1458644 non-null float64
drp_dtm               1458644 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(7), int64(3), object(4)
memory usage: 189.2+ MB

In [92]:
d = df.groupby(['drp_dtm','drp_yyyymmdd','drp_hrmi','drp_loc'], as_index=False)

In [98]:
d.count()

,drp_dtm,drp_yyyymmdd,drp_hrmi,drp_loc,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,drp_rnd_long,drp_rnd_lat
0,2016-01-01 00:00:00,20160101,0.00,-73.93_40.71,1,1,1,1,1,1,1,1,1,1,1,1,1
1,2016-01-01 00:00:00,20160101,0.00,-73.94_40.83,1,1,1,1,1,1,1,1,1,1,1,1,1
2,2016-01-01 00:00:00,20160101,0.00,-73.94_40.85,1,1,1,1,1,1,1,1,1,1,1,1,1
3,2016-01-01 00:00:00,20160101,0.00,-73.95_40.82,1,1,1,1,1,1,1,1,1,1,1,1,1
4,2016-01-01 00:00:00,20160101,0.00,-73.97_40.74,1,1,1,1,1,1,1,1,1,1,1,1,1
5,2016-01-01 00:00:00,20160101,0.00,-73.97_40.76,1,1,1,1,1,1,1,1,1,1,1,1,1
6,2016-01-01 00:00:00,20160101,0.00,-73.97_40.77,1,1,1,1,1,1,1,1,1,1,1,1,1
7,2016-01-01 00:00:00,20160101,0.00,-73.97_40.79,2,2,2,2,2,2,2,2,2,2,2,2,2
8,2016-01-01 00:00:00,20160101,0.00,-73.97_40.8,1,1,1,1,1,1,1,1,1,1,1,1,1
9,2016-01-01 00:00:00,20160101,0.00,-73.98_40.69,1,1,1,1,1,1,1,1,1,1,1,1,1
10,2016-01-01 00:00:00,20160101,0.00,-73.98_40.74,2,2,2,2,2,2,2,2,2,2,2,2,2
11,2016-01-01 00:00:00,20160101,0.00,-73.99_40.72,1,1,1,1,1,1,1,1,1,1,1,1,1
12,2016-01-01 00:00:00,20160101,0.00,-73.99_40.74,2,2,2,2,2,2,2,2,2,2,2,2,2
13,2016-01-01 00:00:00,20160101,0.00,-73.99_40.75,1,1,1,1,1,1,1,1,1,1,1,1,1
14,2016-01-01 00:00:00,20160101,0.00,-73.99_40.77,1,1,1,1,1,1,1,1,1,1,1,1,1
15,2016-01-01 00:00:00,20160101,0.00,-74.0_40.72,1,1,1,1,1,1,1,1,1,1,1,1,1
16,2016-01-01 00:00:00,20160101,0.00,-74.0_40.73,1,1,1,1,1,1,1,1,1,1,1,1,1
17,2016-01-01 00:00:00,20160101,0.00,-74.0_40.75,1,1,1,1,1,1,1,1,1,1,1,1,1
18,2016-01-01 00:15:00,20160101,0.25,-73.87_40.75,1,1,1,1,1,1,1,1,1,1,1,1,1
19,2016-01-01 00:15:00,20160101,0.25,-73.89_40.76,1,1,1,1,1,1,1,1,1,1,1,1,1
20,2016-01-01 00:15:00,20160101,0.25,-73.91_40.78,1,1,1,1,1,1,1,1,1,1,1,1,1
21,2016-01-01 00:15:00,20160101,0.25,-73.92_40.74,1,1,1,1,1,1,1,1,1,1,1,1,1
22,2016-01-01 00:15:00,20160101,0.25,-73.93_40.71,1,1,1,1,1,1,1,1,1,1,1,1,1
23,2016-01-01 00:15:00,20160101,0.25,-73.93_40.74,1,1,1,1,1,1,1,1,1,1,1,1,1
24,2016-01-01 00:15:00,20160101,0.25,-73.93_40.76,1,1,1,1,1,1,1,1,1,1,1,1,1
25,2016-01-01 00:15:00,20160101,0.25,-73.93_40.85,1,1,1,1,1,1,1,1,1,1,1,1,1
26,2016-01-01 00:15:00,20160101,0.25,-73.93_40.86,1,1,1,1,1,1,1,1,1,1,1,1,1
27,2016-01-01 00:15:00,20160101,0.25,-73.94_40.72,1,1,1,1,1,1,1,1,1,1,1,1,1
28,2016-01-01 00:15:00,20160101,0.25,-73.94_40.79,1,1,1,1,1,1,1,1,1,1,1,1,1
29,2016-01-01 00:15:00,20160101,0.25,-73.94_40.8,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674086,2016-07-01 00:15:00,20160701,0.25,-73.99_40.64,1,1,1,1,1,1,1,1,1,1,1,1,1
674087,2016-07-01 00:15:00,20160701,0.25,-73.99_40.68,1,1,1,1,1,1,1,1,1,1,1,1,1
674088,2016-07-01 00:15:00,20160701,0.25,-74.01_40.71,1,1,1,1,1,1,1,1,1,1,1,1,1
674089,2016-07-01 00:15:00,20160701,0.25,-74.01_40.75,1,1,1,1,1,1,1,1,1,1,1,1,1
674090,2016-07-01 00:15:00,20160701,0.25,-74.04_40.62,1,1,1,1,1,1,1,1,1,1,1,1,1
674091,2016-07-01 00:15:00,20160701,0.25,-74.0_40.71,1,1,1,1,1,1,1,1,1,1,1,1,1
674092,2016-07-01 00:30:00,20160701,0.50,-73.93_40.86,1,1,1,1,1,1,1,1,1,1,1,1,1
674093,2016-07-01 00:30:00,20160701,0.50,-73.95_40.78,2,2,2,2,2,2,2,2,2,2,2,2,2
674094,2016-07-01 00:30:00,20160701,0.50,-73.96_40.65,1,1,1,1,1,1,1,1,1,1,1,1,1
674095,2016-07-01 00:30:00,20160701,0.50,-73.96_40.76,1,1,1,1,1,1,1,1,1,1,1,1,1
674096,2016-07-01 00:30:00,20160701,0.50,-73.96_40.78,1,1,1,1,1,1,1,1,1,1,1,1,1
674097,2016-07-01 00:30:00,20160701,0.50,-73.97_40.59,1,1,1,1,1,1,1,1,1,1,1,1,1
674098,2016-07-01 00:30:00,20160701,0.50,-73.97_40.68,1,1,1,1,1,1,1,1,1,1,1,1,1
674099,2016-07-01 00:30:00,20160701,0.50,-73.99_40.72,1,1,1,1,1,1,1,1,1,1,1,1,1
674100,2016-07-01 00:30:00,20160701,0.50,-73.99_40.75,1,1,1,1,1,1,1,1,1,1,1,1,1
674101,2016-07-01 00:30:00,20160701,0.50,-73.99_40.76,1,1,1,1,1,1,1,1,1,1,1,1,1
674102,2016-07-01 00:30:00,20160701,0.50,-74.01_40.72,1,1,1,1,1,1,1,1,1,1,1,1,1
674103,2016-07-01 00:30:00,20160701,0.50,-74.01_40.73,1,1,1,1,1,1,1,1,1,1,1,1,1
674104,2016-07-01 00:45:00,20160701,0.75,-73.98_40.72,1,1,1,1,1,1,1,1,1,1,1,1,1
674105,2016-07-01 00:45:00,20160701,0.75,-73.98_40.76,2,2,2,2,2,2,2,2,2,2,2,2,2
674106,2016-07-01 07:45:00,20160701,7.75,-73.78_40.65,1,1,1,1,1,1,1,1,1,1,1,1,1
674107,2016-07-01 12:00:00,20160701,12.00,-73.87_40.77,1,1,1,1,1,1,1,1,1,1,1,1,1
674108,2016-07-01 12:30:00,20160701,12.50,-73.98_40.79,1,1,1,1,1,1,1,1,1,1,1,1,1
674109,2016-07-01 13:15:00,20160701,13.25,-73.95_40.76,1,1,1,1,1,1,1,1,1,1,1,1,1
674110,2016-07-01 13:15:00,20160701,13.25,-74.0_40.73,1,1,1,1,1,1,1,1,1,1,1,1,1
674111,2016-07-01 16:30:00,20160701,16.50,-73.96_40.8,1,1,1,1,1,1,1,1,1,1,1,1,1
674112,2016-07-01 19:45:00,20160701,19.75,-73.99_40.72,1,1,1,1,1,1,1,1,1,1,1,1,1
674113,2016-07-01 20:15:00,20160701,20.25,-73.99_40.76,1,1,1,1,1,1,1,1,1,1,1,1,1
674114,2016-07-01 22:00:00,20160701,22.00,-74.01_40.74,1,1,1,1,1,1,1,1,1,1,1,1,1
674115,2016-07-01 23:00:00,20160701,23.00,-73.98_40.77,1,1,1,1,1,1,1,1,1,1,1,1,1

In [93]:
dfp = d.dropoff_datetime.count().rename(columns={'dropoff_datetime':'trips_count'})

In [94]:
dfp.head()

     drp_dtm drp_yyyymmdd  drp_hrmi       drp_loc  trips_count
0 2016-01-01     20160101       0.0  -73.93_40.71            1
1 2016-01-01     20160101       0.0  -73.94_40.83            1
2 2016-01-01     20160101       0.0  -73.94_40.85            1
3 2016-01-01     20160101       0.0  -73.95_40.82            1
4 2016-01-01     20160101       0.0  -73.97_40.74            1

In [88]:
dfp.to_csv('./data/ts_processed.csv',index=False)

In [90]:
dfp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 674116 entries, 0 to 674115
Data columns (total 5 columns):
drp_dtm         674116 non-null datetime64[ns]
drp_yyyymmdd    674116 non-null object
drp_hrmi        674116 non-null float64
drp_loc         674116 non-null object
trips_count     674116 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 30.9+ MB